@model IList<Post>

<div class="sidebar-box ftco-animate fadeInUp ftco-animated">
	<h3 class="sidebar-heading">
		Popular Articles
	</h3>
	
	@foreach (var post in Model)
	{
		var imageUrl = string.IsNullOrWhiteSpace(post.ImageUrl)
			? $"/images/image_{post.Id % 10 + 1}.jpg"
			: $"/{post.ImageUrl}";

		<div class="block-21 mb-4 d-flex">
			<a asp-controller="Blog"
			   asp-action="Post"
			   asp-route-year="@post.PostedDate.Year"
			   asp-route-month="@post.PostedDate.Month"
			   asp-route-day="@post.PostedDate.Day"
			   asp-route-slug="@post.UrlSlug"
			   title="@post.Title"
			   class="blog-img mr-4"
			   style="background-image: url(@imageUrl);">
			</a>

			<div class="text">
				<h3 class="heading">
					<a asp-controller="Blog"
					   asp-action="Post"
					   asp-route-year="@post.PostedDate.Year"
					   asp-route-month="@post.PostedDate.Month"
					   asp-route-day="@post.PostedDate.Day"
					   asp-route-slug="@post.UrlSlug"
					   title="@post.Title">
						@post.Title
					</a>
				</h3>
				<div class="meta">
					<div>
						<a asp-controller="Blog"
						   asp-action="Archive"
						   asp-route-year="@post.PostedDate.Year"
						   asp-route-month="@post.PostedDate.Month"
						   title="View other posts in @post.PostedDate.ToString("MMMM yyyy")">
							<span class="icon-calendar"></span> 
							@post.PostedDate.ToString("MMMM dd, yyyyy HH:mm")
						</a>
					</div>
					@*<div>
						<a href="#"><span class="icon-person"></span> Dave Lewis</a>
					</div>*@
					<div>
						<a href="#">
							<span class="icon-eye"></span> @post.ViewCount
						</a>
						<a href="#">
							<span class="icon-chat"></span> 19
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>