@model Post

<article class="blog-entry ftco-animate d-md-flex">
	<a asp-controller="Blog"
	   asp-action="Post"
	   asp-route-year="@Model.PostedDate.Year"
	   asp-route-month="@Model.PostedDate.Month"
	   asp-route-slug="@Model.UrlSlug"
	   title="@Model.Title"
	   class="img img-2" 
	   style="background-image: url(/images/image_1.jpg);"></a>

	<div class="text text-2 pl-md-4">
		<h3 class="mb-2">
			<a asp-controller="Blog"
			   asp-action="Post"
			   asp-route-year="@Model.PostedDate.Year"
			   asp-route-month="@Model.PostedDate.Month"
			   asp-route-slug="@Model.UrlSlug"
			   title="@Model.Title">
				@Model.Title
			</a>
		</h3>
		
		<div class="meta-wrap">
			<p class="meta">
				<span>
					<i class="icon-calendar mr-2"></i> 
					@Model.PostedDate.ToString("g")
				</span>
				<span>
					<a asp-controller="Blog"
					   asp-action="Category"
					   asp-route-slug="@Model.Category.UrlSlug"
					   title="@Model.Category.Name">
						<i class="icon-folder-o mr-2"></i> 
						@Model.Category.Name
					</a>
				</span>
				<span class="tagcloud d-inline-block">
					<i class="icon-tags mr-2"></i>
					<partial name="_TagList" model="Model.Tags"/>
				</span>
			</p>
		</div>
		
		<p class="mb-4">
			@Model.ShortDescription
		</p>
		
		<p>
			<a asp-controller="Blog"
			   asp-action="Post"
			   asp-route-year="@Model.PostedDate.Year"
			   asp-route-month="@Model.PostedDate.Month"
			   asp-route-day="@Model.PostedDate.Day"
			   asp-route-slug="@Model.UrlSlug"
			   title="Read details"
			   class="btn-custom">
				Read More <span class="ion-ios-arrow-forward"></span>
			</a>
		</p>
	</div>
</article>