@model Post

@{
	var imageUrl = string.IsNullOrWhiteSpace(Model.ImageUrl)
		? $"/images/image_{Model.Id % 10 + 1}.jpg"
		: $"/{Model.ImageUrl}";
}

<div class="pt-md-4">
	<h1 class="mb-3">
		@Model.Title
	</h1>

	<div class="meta-wrap">
		<p class="meta">
			<span>
				<i class="icon-calendar mr-2"></i>
				@Model.PostedDate.ToString("g")
			</span>
			<span class="ml-3">
				Category:

				<a asp-controller="Blog"
				   asp-action="Category"
				   asp-route-slug="@Model.Category.UrlSlug"
				   title="@Model.Category.Name">
					@Model.Category.Name
				</a>
			</span>
			<div class="tagcloud">
				Tags:

				<partial name="_TagList" model="Model.Tags" />
			</div>
		</p>
	</div>

	<p>
		@Html.Raw(Model.ShortDescription)
	</p>

	<p>
		<img src="@imageUrl" alt="" class="img-fluid">
	</p>

	<p>
		@Html.Raw(Model.Description)
	</p>

	<div class="tag-widget post-tag-container mb-5 mt-5">
		<div class="tagcloud">
			<partial name="_TagList" model="Model.Tags" />
		</div>
	</div>

	<partial name="_Author" model="@("Author Name")" />
</div>