@model Post

@{
	var imageUrl = string.IsNullOrWhiteSpace(Model.ImageUrl)
		? $"/images/image_{Model.Id % 10 + 1}.jpg"
		: $"/{Model.ImageUrl}";

	var absoluteUrl = Url.Action("Post", "Blog", new
	{
		year = Model.PostedDate.Year,
		month = Model.PostedDate.Month,
		day = Model.PostedDate.Day,
		slug = Model.UrlSlug
	}, protocol: Context.Request.Scheme);
}

<div class="pt-md-4">
	<h1 class="mb-3">
		@Model.Title
	</h1>

	<div class="meta-wrap">
		<p class="meta">
			<span>
				<i class="icon-calendar mr-2"></i>
				@Model.PostedDate.ToString("g")
			</span>
			<span title="@Model.ViewCount views" class="text-info">
				<i class="icon-eye mx-2"></i>
				@Model.ViewCount
			</span>
			<span class="ml-3">
				Category:

				<a asp-controller="Blog"
				   asp-action="Category"
				   asp-route-slug="@Model.Category.UrlSlug"
				   title="@Model.Category.Name">
					@Model.Category.Name
				</a>
			</span>
			<div class="tagcloud">
				Tags:

				<partial name="_TagList" model="Model.Tags" />
			</div>
		</p>
	</div>

	<p>
		@Html.Raw(Model.ShortDescription)
	</p>

	<p>
		<img src="@imageUrl" alt="" class="img-fluid">
	</p>

	<p>
		@Html.Raw(Model.Description)
	</p>
	
	<div class="row my-5">
		<div class="col-md-6">
			<div class="tag-widget post-tag-container">
				<div class="tagcloud">
					<partial name="_TagList" model="Model.Tags" />
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="tagcloud text-right">
				<strong>SHARE: </strong>

				<a href="https://facebook.com/sharer.php?u=@absoluteUrl" 
				   target="_blank"
				   title="Share on Facebook"
				   class="tag-cloud-link bg-primary text-light">
					<span class="icon-facebook"></span>
				</a>
				<a href="https://twitter.com/intent/tweet?url=@absoluteUrl&text=@Model.Title"
				   target="_blank"
				   title="Share on Twitter"
				   class="tag-cloud-link bg-info text-light">
					<span class="icon-twitter"></span>
				</a>
				<a href="http://www.linkedin.com/shareArticle?mini=true&url=@absoluteUrl&title=@Model.Title" 
				   target="_blank"
				   title="Share on LinkedIn"
				   class="tag-cloud-link bg-warning text-light">
					<span class="icon-linkedin"></span>
				</a>
				<a href="https://plus.google.com/share?url=@absoluteUrl"
				   target="_blank"
				   title="Share on Google+"
				   class="tag-cloud-link bg-danger text-light">
					<span class="icon-google-plus"></span>
				</a>
			</div>
		</div>
	</div>

	

	<partial name="_Author" model="@("Author Name")" />
</div>